/.env
/.idea/dataSources.xml
static
__pycache__/app.cpython-310.pyc
database/__pycache__/db_util.cpython-310.pyc
database/__pycache__/models.cpython-310.pyc
flask.err
flask.log
models/__pycache__/BatchModel.cpython-310.pyc
models/__pycache__/DistributorModel.cpython-310.pyc
models/__pycache__/PeternakModel.cpython-310.pyc
models/__pycache__/__init__.cpython-310.pyc
models/__pycache__/batch_model.cpython-310.pyc
models/__pycache__/distributor_model.cpython-310.pyc
models/__pycache__/peternak_model.cpython-310.pyc
routes/__pycache__/AddDistributor.cpython-310.pyc
routes/__pycache__/AddPeternakan.cpython-310.pyc
routes/__pycache__/GetBatch.cpython-310.pyc
routes/__pycache__/InputBatch.cpython-310.pyc
routes/__pycache__/Login.cpython-310.pyc
routes/__pycache__/__init__.cpython-310.pyc
routes/__pycache__/add_distributor.cpython-310.pyc
routes/__pycache__/add_peternakan.cpython-310.pyc
routes/__pycache__/batch.cpython-310.pyc
routes/__pycache__/check_user.cpython-310.pyc
routes/__pycache__/get_batch.cpython-310.pyc
routes/__pycache__/input_batch.cpython-310.pyc
routes/__pycache__/login.cpython-310.pyc
routes/__pycache__/register.cpython-310.pyc
routes/__pycache__/remove_user.cpython-310.pyc
routes/__pycache__/update_batch.cpython-310.pyc
